In [3]:
students = {
    "Aayush": {"math": 90, "science": 85},
    "Sita": {"math": 88, "science": 91},
    "Kiran": {"math": 75, "science": 80}
}
for name, marks in students.items():
    avg = sum(marks.values())/len(marks)
    print(f"{name} avg is: {avg}")

Aayush avg is: 87.5
Sita avg is: 89.5
Kiran avg is: 77.5

In [5]:
for name in students.keys():
    students[name]["english"] = 0

In [6]:
print(students)

{'Aayush': {'math': 90, 'science': 85, 'english': 0}, 'Sita': {'math': 88, 'science': 91, 'english': 0}, 'Kiran': {'math': 75, 'science': 80, 'english': 0}}

In [13]:
top_student = None
highest_total = 0
for name, marks in students.items():
    total = sum(marks.values())
    if total > highest_total:
        highest_total = total
        top_student = name

print(f"Top scoring student is {top_student} with {highest_total} total marks.")

Top scoring student is Sita with 179 total marks.

In [15]:
for name, marks in students.items():
    total = sum(marks.values())
    print(f"{name} has a total marks of {total}")

Aayush has a total marks of 175
Sita has a total marks of 179
Kiran has a total marks of 155

In [19]:
lowest_total = 200
lowest_student = None
for name, marks in students.items():
    total = sum(marks.values())
    if total < lowest_total:
        lowest_total = total
        lowest_student = name
print(f"{lowest_student} is the lowest scoring student with {lowest_total} marks.")

Kiran is the lowest scoring student with 155 marks.

In [18]:
for name, marks in students.items():
    avg = sum(marks.values())/len(marks)
    print(f"The avg score of {name} is {avg}")

The avg score of Aayush is 58.333333333333336
The avg score of Sita is 59.666666666666664
The avg score of Kiran is 51.666666666666664